{
    "db" : {
        "type": "mysql",
        "host": "localhost",
        "name": "dbname",
        "user": "user",
        "password": "password"
    },
    "lang" : "en_EN",
    "test" : "false",
    "env" : "dev"
}