

**loading**
<video autoplay muted loop id="bgVid">
  <source src="{{media:Lunar.mp4}}" type="video/mp4">
</video>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  **nav**
  <main role="main" class="inner cover">
    <p>We've updated the database version from <b>{{prev}}</b> to <b>{{next}}</b></p>
    <p>Please wait, the page will be refreshed automatically.</p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>League of Legend Tool made by <a href="https://twitch.tv/zulgard/">@Zulgard</a>.</p>
    </div>
  </footer>
</div>